name: ci

on:
  pull_request:
  push:
    branches:
      - master
  release:
    types: [created]
  schedule:
    - cron: "0 8 * * 5"

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - odoo: "master"
            test: false
          - odoo: "15.0"
            test: true
          - odoo: "14.0"
            test: true
          - odoo: "13.0"
            test: true
          - odoo: "12.0"
            test: false
          - odoo: "11.0"
            test: false

    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build
        uses: docker/build-push-action@v2
        with:
          file: ${{ matrix.odoo }}.Dockerfile
          build-args: ODOO_VERSION=${{ matrix.odoo }}
          tags: ${{ github.repository }}:${{ matrix.odoo }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:${{ matrix.odoo }}
          cache-to: type=local,dest=/tmp/.buildx-cache
          load: true
      -
        name: Test
        if: matrix.test && github.event_name == 'pull_request'
        env:
          DOCKER_REPO: ${{ github.repository }}
          DOCKER_TAG: ${{ matrix.odoo }}
        run: |
          docker-compose -f tests/docker-compose.yml build
          docker-compose -f tests/docker-compose.yml run --rm odoo odoo --init=all --test-enable --stop-after-init
      -
        name: Push
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v2
        with:
          file: ${{ matrix.odoo }}.Dockerfile
          build-args: ODOO_VERSION=${{ matrix.odoo }}
          labels: org.opencontainers.image.source=${{ github.event.repository.html_url }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.odoo }}-latest
          push: true
      -
        name: Release
        if: github.event.release.tag_name
        uses: docker/build-push-action@v2
        with:
          file: ${{ matrix.odoo }}.Dockerfile
          build-args: ODOO_VERSION=${{ matrix.odoo }}
          labels: org.opencontainers.image.source=${{ github.event.repository.html_url }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.odoo }}
            ghcr.io/${{ github.repository }}:${{ matrix.odoo }}.${{ github.event.release.tag_name }}
          push: true
